<h1>User profile</h1>

<p><%= @user.firstname + " " + @user.lastname %></p>
<p><%= @user.username %></p>
<p><%= @user.email %></p>

<p>Games played - <%= @games.count %></p>
<p>Wins - <%= get_wins(@games) %></p>
<p>Draws - <%= get_draws(@games) %></p>
<p>Losses - <%= get_losses(@games) %></p>

<table>
  <thead>
   <tr>
    <th>Wins</th>
    <th>Draws</th>
    <th>Losses</th>
    <th>Winning percentage</th>
   </tr>
  <thead>
  <tbody>
      <tr>
        <td><%= get_wins(@games)  %></td>
        <td><%= get_draws(@games) %></td>
        <td><%= get_losses(@games)  %></td>
        <td><%= (get_wins(@games) / @games.count.to_f).round(2) * 100 %></td>
      </tr>
  </tbody>
</table>

<p>Average turns per game - <%= (get_total_turns(@games) / @games.length.to_f).round(2) %></p>

<% if logged_in? && current_user == @user %>
  <%= link_to "Edit account", edit_user_path(@user), class: 'edit_link' %>
  <%= link_to "Log out", logout_path, class: 'logout_link' %>
<% end %>