<% if logged_in? %>

  <%= form_with(model: @game, local: true, class: 'save-form hidden', id: 'save-form') do |f| %>
    <%= f.hidden_field :win, value: false %>
    <%= f.hidden_field :draw, value: false %>
    <%= f.hidden_field :loss, value: false %>
    <%= f.hidden_field :turns, value: 0 %>
    <%= f.submit 'Save game', class: 'btn btn-default', disabled: 'disabled' %>
  <% end %>

<% else %>

<p class="login-save-link hidden"><%= link_to 'Log in', login_path %> to save game</p>

<% end %>