<% if logged_in? %>

  <%= form_with(model: @game, local: true, class: 'save-form hidden', id: 'save-form') do |f| %>
    <%= f.hidden_field :win, value: false %>
    <%= f.hidden_field :draw, value: false %>
    <%= f.hidden_field :loss, value: false %>
    <%= f.hidden_field :turns, value: 0 %>
    <%= f.hidden_field :level, value: 1 %>
    <%= f.hidden_field :user_code, value: " " %>
    <%= f.hidden_field :comp_code, value: " " %>
    <%= f.submit 'Save game', class: 'btn btn-default', disabled: 'disabled' %>
  <% end %>

<% else %>

<p class="login-save-link hidden">To save your game you must be logged in. <%= link_to 'Log in', login_path %> or <%= link_to 'Sign up', register_path %>.</p>

<% end %>