<header class="header">
<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo">
      <a href="/" class="logo__link">
      <div class="logo__image">
        <div class="logo-item">
          <%= svg 'bull' %>
        </div>
        <div class="logo-item--line"></div>
        <div class="logo-item">
          <%= svg 'sacred-cow' %>
        </div>
      </div>
      <div class="logo-item--name">Bulls &amp; Cows</div>
      </a>
    </div>

  </div>
  <nav class="terminal-menu">
      <ul class="menu-list">
          <li>
            <%= link_to 'How to play', instructions_path, class: 'menu-item' %>
          </li>
          <li>
            <%= link_to 'Play', play_path, class: 'menu-item' %>
          </li>
          <li>
            <%= link_to 'Leaderboard', users_path, class: 'menu-item' %>
          </li>
          <% if logged_in? %>
            <li>
              <%= link_to 'Log out', logout_path, class: 'menu-item' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Log in', login_path, class: 'menu-item' %>
            </li>
            <li>  
              <%= link_to 'Sign up', register_path, class: 'menu-item' %>  
            </li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>